* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --cadetblue: cadetblue;
  --indianred:indianred;
  --antiquewhite: whitesmoke;
  --black: black;
  --green: #4f7942;

}

html {
  font-size: 62.5%;
}

.black {
  background-color: var(--black);
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 75vh;
}

.wrapper {
  position: relative;
  height: 400px;
  width: 400px;
}

.start {
  position: absolute;
  background-color: darkgray;

  font-family: sans-serif;
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
  border-radius: 5%;
}

.start p {
  font-size: 8rem;
  color: black;
  font-family: "Rubik Marker Hatch", cursive;
}

.start a {
  text-decoration: none;
}

.block1,
.block2,
.block3,
.block4 {
  position: absolute;
  width: 50%;
  height: 50%;
  transition: 2s;
  transition-delay: 0.5s;
}

.block1 {
  top: 0;
  left: 0;
}

.block2 {
  top: 50%;
  left: 0;
}

.block3 {
  top: 0;
  left: 50%;
}

.block4 {
  top: 50%;
  left: 50%;
}

.wrapper:hover :is(.block1, .block2, .block3, .block4) {
  border-radius: 100%;
}

.wrapper:hover .block1 {
  transform: translateX(-200px) rotate(90deg);
}

.wrapper:hover .block2 {
  transform: translateX(-200px) rotate(90deg);
}

.wrapper:hover .block3 {
  transform: translateX(200px) rotate(-90deg);
}

.wrapper:hover .block4 {
  transform: translateX(200px) rotate(-90deg);
}


/* Keyframes for the opening animation */
@keyframes moveLeftAnimation {
  to {
    border-radius: 100%;
    transform: translateX(-200px) rotate(90deg);
  }
}

/* Keyframes for block3 and block4 */
@keyframes moveRightAnimation {
  to {
    border-radius: 100%;
    transform: translateX(200px) rotate(-90deg);
  }
}

/* Apply the animation after 5 seconds */
.block1, .block2 {
  animation: moveLeftAnimation 4s ease 10s forwards;
}

.block3, .block4 {
  animation: moveRightAnimation 4s ease 10s forwards;
}

body.black button {
  background-color: var(--black);
  border: none;
}

nav {
  display: flex;
  justify-content: center;
  position: fixed;
  top: 1.5rem;
  left: 0;
  width: 100%;
  animation: bounce2 10s infinite;
}

nav div {
   background-color: darkgray;
  
  border-radius: 10px;
  text-align: center;
  width: 230px;
  height: 40px;
  font-size: 3rem;
  box-shadow: 3px 3px 20px 0px black;
  border: 0.1px solid var(--antiquewhite);
  margin: 0 5%;
  font-family: "Rubik Marker Hatch", cursive;
}

button{
  background-color: transparent;
  border:none;
}

nav div a {
  color: var(--antiquewhite);
  text-decoration: none;
}

.antiquewhite {
  background-color: whitesmoke;
}

main {
  margin-top: 3%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
h1{
  text-align: center;
  font-size: 3.5vw;
  font-weight: 500;
}

a:hover {
  color: dimgray;
}
main p {
  font-size: 2.5rem;
  padding: 1rem;
}
.aboutMe {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  height: 100vh;
}

.rest{
  display:flex;
  justify-content: space-around;
  margin-bottom: 2rem;
}

.aboutMeText {
  /* width: 80vw; */
  height: 80vh;
  display:flex;
  /* border-radius: 10px; */
  background-color: darkgray;
  box-shadow: 3px 3px 20px 0px black;

}

.profilePic{
  width: 19vw;
  float: left;
  margin:3%;
  border-radius: 40px;
}

.aboutMeText p {
  
  text-align: center;
  font-size: 1.3vw;
  color: var(--antiquewhite);
}
.aboutMeText p a {
  color: black;
  text-decoration: none;
}
.aboutMeText p a:hover{
  color: darkslategray;
}

/* .aboutMeText:hover {
  border-top: 2px solid var(--antiquewhite);
} */
.lang{
  width:25vw;
}
.aboutMeText p:hover,
.lang h2:hover,
.lang p:hover,
.technologies h2:hover,
.workingExperience h2:hover,
h1:hover {
  color: black;
}

#title-Tag-Line {
  font-size: 20px;
}

.form {
  background: white;
  box-shadow: 0 30px 60px 0 rgba(90, 116, 148, 0.4);
  border-radius: 5px;
  max-width: 480px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 5px;
  padding-bottom: 5px;
  left: 0;
  right: 0;
  position: absolute;
  border-top: 5px solid darkgray;
  animation: bounce1 15s infinite;
  border-radius: 10px;
}

::-webkit-input-placeholder {
  font-size: 1.3em;
}

.title {
  display: block;
  font-family: sans-serif;
  margin: 10px auto 5px;
  width: 300px;
  text-align: center;
}
.termsConditions {
  margin: 0 auto 0 90px;
}

.pageTitle {
  font-size: 2.0em;
  text-align: center;
  width:100%;
}
.secondaryTitle {
  color: grey;
  font-size: 1.5em;
}

.name {
  background-color: #ebebeb;
  color: black;
  height: 2.5em;
}
.name:hover {
  border-bottom: 5px solid darkgray;
  height: 30px;
  width: 380px;
  transition: ease 0.5s;
}

.email {
  background-color: #ebebeb;
  height: 2.5em;
  color: black;
}

.email:hover {
  border-bottom: 5px solid darkgray;
  height: 30px;
  width: 380px;
  transition: ease 0.5s;
}

.message {
  background-color: #ebebeb;
  overflow: hidden;
  height: 10rem;
}

.message:hover {
  border-bottom: 5px solid darkgray;
  height: 12em;
  width: 380px;
  transition: ease 0.5s;
}

.formEntry {
  display: block;
  margin: 25px auto;
  min-width: 300px;
  padding: 10px;
  border-radius: 2px;
  border: 1px solid darkgray;
  transition: all 0.5s ease 0s;
  border-radius: 20px;
}
button.submit.formEntry {
  height: 35px;
  color: antiquewhite;
  background-color: darkgray;
  font-size: 15px;
  border-radius: 10px;
  border:solid 1px black;
}

.submit:hover {
  display: block;
}

.submit:hover {
  box-shadow: 15px 15px 15px 5px rgba(78, 72, 77, 0.219);
  transform: translateY(-3px);
  width: 300px;
  border-top: 5px solid darkgrey;
  border-radius: 10px;
}

@keyframes bounce1 {
  0% {
    transform: translate(0, 0px);
  }
  50% {
    transform: translate(0, 20px);
  }
}

@keyframes bounce2 {
  0% {
    transform: translate(0, 0px);
  }
  50% {
    transform: translate(0px, 10px);
  }
}



.lang p {
  text-align: center;
  list-style-type: none;
  font-size: 2vw;
}

.technologies{
  width: 30vw;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.workingExperience{
  width:25vw;
}

.workingExperience img {
  width: 12vw;
  height: 12vh;
  border-radius: 20px;
}

.workingExperience h2 {
  font-family: "Rubik Marker Hatch", cursive;
  padding: 2rem 0;
  font-size: 3vw;
  font-weight: 500;
  text-align: center;
}
.technologies img {
  width: 10vw;
  height: 8vh;
  border-radius: 0px;

}
.lang p {
  font-family: "Rubik Marker Hatch", cursive;
  padding: 0.5rem 0;
}

.lang h2 {
  font-size: 3vw;
  font-family: "Rubik Marker Hatch", cursive;
  text-align: center;
  padding: 1rem 0;
  font-weight: 500;
}

.aboutMeText {
  font-family: "Rubik Marker Hatch", cursive;
}

.technologies h2{
  font-size: 3vw;
  font-family: "Rubik Marker Hatch", cursive;
  text-align: center;
  padding: 1rem 0;
  font-weight: 500;
}

.projects {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 100vw;
  height: 230vh;
}

.project {
  display:flex;
  flex-direction: column;
  justify-content: space-around;
  width: 25vw;
  height:60vh;
  background-color: darkgray;
  box-shadow: 3px 3px 20px 0px black;
  border-radius: 10px;
  margin: 1rem;
  text-align: center;
  
}


div.project button{
  background-color: var(--antiquewhite);
  border-radius: 20px;
  /* padding:5px; */
  width:90px;
  margin:5px;
  border:1px solid black;
  font-family: "Rubik Marker Hatch", cursive;
}
div.project.button:hover{
  cursor: pointer;
}

.project h2 {
  text-align: center;
  font-size: 3.5rem;
  margin: 1rem 0;
  font-family: "Rubik Marker Hatch", cursive;
  font-weight: 500;
}

.project a {
  text-decoration: none;
  font-size: 2rem;
  color: darkslategray;
  font-family: "Rubik Marker Hatch", cursive;
}

.project a:hover{
  color:black;
}

.project p {
  font-family: "Rubik Marker Hatch", cursive;
  font-size: 2rem;
}

.project:hover {
  margin-top: 1rem;
  border-top: 2px solid var(--antiquewhite);
}
.project h2:hover{
  color: var(--antiquewhite);
}
.project p:hover{
  color: var(--antiquewhite);
}

.contact{
  width: 100%;
  height: 100vh;
}

footer {
  width: 100vw;
  height: 6vh;
  position: fixed;
  bottom: 0;
}

.socialNetworks {
  text-align: center;
  font-size: 4rem;
}

.socialNetworks i {
  color: darkgray;
  margin: 1rem;
}

.socialNetworks i:hover {
  color: dimgray;
}

button:hover{
  cursor: pointer;
}

.flex {
  display: flex;
}

/* Dark mode */

.darkToggle {
  appearance: none;
}
.darkToggle i{
  position:absolute;
  left:1rem;
  top:0;
}

.dark {
  color: white;
  background: #444;
}

.fa-solid {
  color: var(--black);
  font-size: 3rem;
}


.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.7);
}

.modal img {
  display: block;
  margin: auto;
  max-width: 95%;
  max-height: 95%;
}

.close {
  position: absolute;
  top: 20px;
  right: 30px;
  font-size: 30px;
  color: white;
  cursor: pointer;
}

.cv-download{
  z-index: 1;
  left: 0;
  top: 0;
  width: 15vw;
  float: right;
  padding: 1%;
  border-radius: 50%;
}

.cv-download a{
  text-decoration: none;
  color: tomato;
}

button#openModal{
  color: darkgray;
  padding: 2px 6px;
  text-decoration: none;
  display: block;
  font-weight: 300;
  font-family: "Rubik Marker Hatch", cursive;
  padding: 7px;
  width: 120px;
  text-align: left;
  z-index:0;

}
button#openModal:hover{
  background-color: darkgray;
  color: black;
}

/* dropdown */

.dropbtn {
  background-color: var(--antiquewhite);
  color: darkgray;
  padding: 1%;
  font-size: 16px;
  border: none;
  cursor: pointer;
  font-family: "Rubik Marker Hatch", cursive;
  
  width:6vw;
  height: 20%;
}

.dropbtn:hover, .dropbtn:focus {
  background-color: var(--antiquewhite);
}

.dropdown {
  position: relative;
  float: right;
  margin-top:5%;
  /* margin-right: 5%; */
  
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: var(--antiquewhite);
  min-width: 120px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: darkgray;
  padding: 6px 6px;
  text-decoration: none;
  display: block;
  font-weight: 300;
  font-family: "Rubik Marker Hatch", cursive;
}

.dropdown a:hover {background-color: darkgray; color:black}
/* .dropbtn:hover{
  border-top-left-radius:10px ;
  border-top-right-radius:10px;
} */
.show {
  display: block;
  border-bottom-left-radius:10px ;
  border-bottom-right-radius:10px ;
  border-top-right-radius:10px ;
}

.project img{
  width: 95%;
  border-radius: 10px ;
  margin: 0px auto;
}

.socialNetworks{
  background-color:var(--antiquewhite);
}

.projects {
  margin-top: 5%;
}


#backToTopBtn {
  display: none;
  position: fixed;
  bottom: 70px;
  right: 40px;
  height: 40px;
  font-size: 25px;
  background-color: black;
  color: darkgray;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  padding: 10px;
  transition: opacity 0.3s;
}

#backToTopBtn:hover {
  background-color: darkgray;
  color:black;
}

/* Show the button when the user scrolls down 20px from the top of the document */
@media screen and (min-width: 768px) {
  #backToTopBtn {
    display: none;
  }
}

@media (max-width: 481px) {
.dropdown{
  float:left;
}
.dropbtn{
font-size: 12px;
width:10vw;
}

.aboutMeText {
  min-height: 85vh; /
}
.aboutMeText img{
  width:18vw ;
  height: 8vh;
  float:none;
}
/* div.mobile{
  width: 100vw !important;
} */

.dropdown-content{
  margin-top:0 !important;
  z-index: 0;
}

.projects {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  height: 450vh !important;
  
}
.project{
  height: 65vh;
  margin-top:20px !important;
}

.project a {
  font-size: 1.8rem;
}
.project p {
  font-size: 3rem;
}

.aboutMe {
  display: flex;
  flex-direction: column;
}
.aboutMe div {
  /* width: 90vw; */
  margin-top: 1rem;
}



img.profilePic{
  width: 30vw ;
  height: 25%;
  float: left !important;
  /* padding: 2%; */
  border-radius: 50%;
}

.cv-download a{
  text-decoration: none;
  color: darkgray;
  font-size: 0.7rem;   
}


.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.7);
}

.modal img {
  display: block;
  /* margin: auto; */
  width: 100% ;
  height: 100%;
}
/* .modal img{
  width:90vw !important;
  max-width:90%;
} */
.close{
  color:red;
  top: 10px;
  right:15px;
}

  button#openModal{
    color: tomato;
    font-size: 1rem;
  }

.rest {
  display: flex;
}
.lang {
  width:50%;
}
.lang h2 {
font-size: 2.3em;
}
.technologies{
  width:50%
}
.technologies h2{
  font-size: 2.3em;
}

.aboutMeText h1 {
  font-size: 3.3em;
}
  .aboutMeText p {
    font-size: 1.8em;
  }

  .languages img {
    margin-left: 12%;
  }

  .technologiesImages{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-around;
  }

  nav div a {
    font-size: 1.5rem;
  }

  section#contact.contact{
    position:relative;
  }

  footer {
    height: 6vh;
  }
}

@media (max-width: 769px) {
  nav a {
    font-size: 2rem;
  }
  nav div {
    margin: 0 2%;
  }
 button#darkToggle.darkToggle{
  top: 50px;
  left: 10px;
  position: absolute;
 }
  .projects {
    display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  }
  .projects div {
    width: 90vw;
  }

  /* .project a{
    font-size: 1.9rem;
  } */
  .project p {
    font-size: 2.3rem;
  }
}

@media (max-width: 993px) {


}

@media (max-width: 1201px) {
  .projects {
    display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  height:550vh;
  }
  .projects div {
    width: 90%;
    margin: 1rem;
  }

}

