* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --cadetblue: cadetblue;
  --antiquewhite: antiquewhite;
  --black: black;
  --green: #4f7942;

}

html {
  font-size: 62.5%;
}

.black {
  background-color: var(--black);
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 75vh;
}

.wrapper {
  position: relative;
  height: 400px;
  width: 400px;
}

.start {
  position: absolute;
  background-color: var(--green);

  font-family: sans-serif;
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
  border-radius: 5%;
}

.start p {
  font-size: 8rem;
  color: black;
  font-family: "Rubik Marker Hatch", cursive;
}

.start a {
  text-decoration: none;
}

.block1,
.block2,
.block3,
.block4 {
  position: absolute;
  width: 50%;
  height: 50%;
  transition: 2s;
  transition-delay: 0.5s;
}

.block1 {
  top: 0;
  left: 0;
}

.block2 {
  top: 50%;
  left: 0;
}

.block3 {
  top: 0;
  left: 50%;
}

.block4 {
  top: 50%;
  left: 50%;
}

.wrapper:hover :is(.block1, .block2, .block3, .block4) {
  border-radius: 100%;
}

.wrapper:hover .block1 {
  transform: translateX(-200px) rotate(90deg);
}

.wrapper:hover .block2 {
  transform: translateX(-200px) rotate(90deg);
}

.wrapper:hover .block3 {
  transform: translateX(200px) rotate(-90deg);
}

.wrapper:hover .block4 {
  transform: translateX(200px) rotate(-90deg);
}

body.black button {
  background-color: var(--black);
  border: none;
}

nav {
  display: flex;
  justify-content: center;
  position: fixed;
  top: 1.5rem;
  left: 0;
  width: 100%;
  animation: bounce2 10s infinite;
}

nav div {
  /* background-color: var(--green); */
  background-color: tomato;
  
  border-radius: 15px;
  text-align: center;
  width: 230px;
  height: 40px;
  font-size: 3rem;
  box-shadow: 3px 3px 20px 0px black;
  border: 0.1px solid var(--antiquewhite);
  margin: 0 5%;
  font-family: "Rubik Marker Hatch", cursive;
}

button{
  background-color: transparent;
  border:none;
}

nav div a {
  color: var(--antiquewhite);
  text-decoration: none;
}

.antiquewhite {
  background-color: var(--antiquewhite);
}

main {
  margin-top: 3%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
h1{
  text-align: center;
  font-size: 3.5vw;
  font-weight: 500;
}

a:hover {
  color: dimgray;
}
main p {
  font-size: 3rem;
  padding: 1.5rem;
}
.aboutMe {
  display: flex;
  justify-content: space-evenly;
  /* margin:5rem auto; */
  width: 100%;
  height: 100vh;
}

.rest{
  display:flex;
  justify-content: space-around;
  margin-bottom: 2rem;
}

.aboutMeText {
  width: 80vw;
  margin: 1rem;

  /* background-color: var(--green); */
  border-radius: 50px;
  padding-top: 2rem;
  /* background: linear-gradient(var(--green), var(--cadetblue)); */
  /* background-color: var(--green); */
  background-color: wheat;
  box-shadow: 3px 3px 20px 0px black;
}

.profilePic{
  width: 13vw !important;
}

.aboutMeText p {
  
  text-align: center;
  font-size: 1.5vw;
}
.aboutMeText p a {
  color: tomato;
  text-decoration: none;
}
.aboutMeText img {
  width: 9vw;
  float: left;
  padding: 2%;
  border-radius: 50%;
}

.aboutMeText:hover {
  /* color: tomato; */
  border-top: 2px solid tomato;
}
.lang{
  width:25vw;
}
.aboutMeText p:hover,
.lang h2:hover,
.lang p:hover,
.technologies h2:hover,
.workingExperience h2:hover,
h1:hover {
  color: tomato;
}


hr{
  border-top: 2px solid tomato;
}

#title-Tag-Line {
  font-size: 20px;
}

.form {
  background: var(--antiquewhite);
  box-shadow: 0 30px 60px 0 rgba(90, 116, 148, 0.4);
  border-radius: 5px;
  max-width: 480px;
  /* height: 45vh; */
  margin-left: auto;
  margin-right: auto;
  padding-top: 5px;
  padding-bottom: 5px;
  left: 0;
  right: 0;
  position: absolute;
  border-top: 5px solid tomato;
  /*   z-index: 1; */
  animation: bounce1 15s infinite;
  border-radius: 10px;
}

::-webkit-input-placeholder {
  font-size: 1.3em;
}

.title {
  display: block;
  font-family: sans-serif;
  margin: 10px auto 5px;
  width: 300px;
  text-align: center;
}
.termsConditions {
  margin: 0 auto 0 90px;
}

.pageTitle {
  font-size: 2.0em;
  /* font-weight: bold; */
  text-align: center;
  width:100%;
}
.secondaryTitle {
  color: grey;
  font-size: 1.5em;
}

.name {
  background-color: #ebebeb;
  color: black;
  height: 2.5em;
}
.name:hover {
  border-bottom: 5px solid tomato;
  height: 30px;
  width: 380px;
  transition: ease 0.5s;
}

.email {
  background-color: #ebebeb;
  height: 2.5em;
  color: black;
}

.email:hover {
  border-bottom: 5px solid tomato;
  height: 30px;
  width: 380px;
  transition: ease 0.5s;
}

.message {
  background-color: #ebebeb;
  overflow: hidden;
  height: 10rem;
}

.message:hover {
  border-bottom: 5px solid tomato;
  height: 12em;
  width: 380px;
  transition: ease 0.5s;
}

.formEntry {
  display: block;
  margin: 25px auto;
  min-width: 300px;
  padding: 10px;
  border-radius: 2px;
  border: 1px solid tomato;
  transition: all 0.5s ease 0s;
  border-radius: 20px;
}
button.submit.formEntry {
  height: 35px;
  color: antiquewhite;
  background-color: tomato;
  font-size: 15px;
  border-radius: 10px;
}

.submit:hover {
  display: block;
}

.submit:hover {
  box-shadow: 15px 15px 15px 5px rgba(78, 72, 77, 0.219);
  transform: translateY(-3px);
  width: 300px;
  border-top: 5px solid tomato;
  border-radius: 10px;
}

@keyframes bounce1 {
  0% {
    transform: translate(0, 0px);
  }
  50% {
    transform: translate(0, 20px);
  }
}

@keyframes bounce2 {
  0% {
    transform: translate(0, 0px);
  }
  50% {
    transform: translate(0px, 10px);
  }
}



.lang p {
  text-align: center;
  list-style-type: none;
  font-size: 2vw;
}

/* li {
  font-size: 1.5rem;
} */
.technologies{
  border-style: none  solid none solid;
  border-color: tomato;
  width: 30vw;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.workingExperience{
  width:25vw;
}

.workingExperience img {
  width: 12vw;
  height: 12vh;
  border-radius: 20px;
}

.workingExperience h2 {
  font-family: "Rubik Marker Hatch", cursive;
  padding: 2rem 0;
  font-size: 3vw;
  font-weight: 500;
  text-align: center;
}
.technologies img {
  width: 10vw;
  height: 8vh;
  border-radius: 0px;
  /* padding: 0 2vw; */
  /* margin-top:1rem */

}
.lang p {
  font-family: "Rubik Marker Hatch", cursive;
  padding: 0.5rem 0;
}

.lang h2 {
  font-size: 3vw;
  font-family: "Rubik Marker Hatch", cursive;
  text-align: center;
  padding: 1rem 0;
  font-weight: 500;
}

.aboutMeText {
  font-family: "Rubik Marker Hatch", cursive;
}

.technologies h2{
  font-size: 3vw;
  font-family: "Rubik Marker Hatch", cursive;
  text-align: center;
  padding: 1rem 0;
  font-weight: 500;
}

.projects {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 100vw;
  height: 140vh;
}

.projects div {
  width: 35vw;
  background-color: wheat;
  box-shadow: 3px 3px 20px 0px black;

  border-radius: 20px;
  margin: 1rem;
  text-align: center;
}

div.project button{
  background-color: tomato;
  border-radius: 20px;
  /* padding:5px; */
  width:90px;
  margin:5px;
  border:1px solid black;
  font-family: "Rubik Marker Hatch", cursive;
}
div.project.button:hover{
  cursor: pointer;
}

.project h2 {
  text-align: center;
  font-size: 3.5rem;
  margin: 2rem 0;
  font-family: "Rubik Marker Hatch", cursive;
  font-weight: 500;
}

.project a {
  text-decoration: none;
  font-size: 1.5rem;
  color: tomato;
  font-family: "Rubik Marker Hatch", cursive;
}

.project p {
  font-family: "Rubik Marker Hatch", cursive;
  font-size: 2.5rem;
}

.project:hover {
  margin-top: 1rem;
  border-top: 2px solid tomato;
}
.project h2:hover{
  color: tomato;
}
.project p:hover{
  color: tomato;
}

.contact{
  width: 100%;
  height: 100vh;
}

footer {
  width: 100vw;
  height: 6vh;
  /* background-color: var(--antiquewhite); */

  position: fixed;
  bottom: 0;
}

.socialNetworks {
  text-align: center;
  font-size: 4rem;
}

.socialNetworks i {
  color: tomato;
  margin: 1rem;
}

.socialNetworks i:hover {
  color: dimgray;
}

button:hover{
  cursor: pointer;
}

@media (max-width: 481px) {
  .projects {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    
  }



  .project a {
    font-size: 1.8rem;
  }
  .project p {
    font-size: 10px;
  }

  .aboutMe {
    display: flex;
    flex-direction: column;
  }
  .aboutMe div {
    /* width: 90vw; */
    margin-top: 1rem;
  }
  .aboutMeText img{
    width: 25vw;
    justify-content: center;
    
  }
  .profilePic{
    width: 30vw;
  }



  .aboutMeText p {
    font-size: 4vw;
  }

  .languages img {
    margin-left: 12%;
  }

  .technologiesImages{
    display: flex;
    flex-direction: column;
  }

  nav div a {
    font-size: 1.5rem;
  }

  section#contact.contact{
    position:relative;
  }

  footer {
    height: 6vh;
  }
}

@media (max-width: 769px) {
  nav a {
    font-size: 2rem;
  }
  nav div {
    margin: 0 2%;
  }
 button#darkToggle.darkToggle{
  top: 50px;
  left: 10px;
  position: absolute;
 }
  .projects {
    display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  }
  .projects div {
    width: 90vw;
  }

  /* .project a{
    font-size: 1.9rem;
  } */
  .project p {
    font-size: 2.3rem;
  }
}

@media (max-width: 993px) {

  /* .project {
    width: 90vw;
    margin: 1rem;
  }

 
  .project a {
    font-size: 1.5rem;
  }

  .aboutMe {
    display: flex;
    flex-direction: column;
  }
  .aboutMe div {
    width: 90vw;
    margin-top: 1rem;
  }
  .aboutMe div:nth-child(3) {
    margin-bottom: 10rem;
  }

  .aboutMeText p {
    font-size: 2rem;
  }

  .aboutMe img {
    width: 30%;
  }
  .languages img {
    margin-left: 12%;
  } */
}

@media (max-width: 1201px) {
  .projects {
    display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  }
  .projects div {
    width: 90%;
    margin: 1rem;
  }
  .projects div:nth-child(3) {
    margin-bottom: 13rem;
  }
  .project p {
    font-size: 3rem;
  }
}

/* Dark mode */

.darkToggle {
  appearance: none;
}
.darkToggle i{
  position:absolute;
  left:1rem;
  top:0;
}

.dark {
  color: white;
  background: #444;
}

.fa-solid {
  color: var(--black);
  font-size: 3rem;
}

